
.rei{
    height: 500px;
    width: 500px;
}

p{
    text-align: right;
    align-items: right;
    margin-left: 500px;
    margin-top: -380px;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: brown;
   font-size: 30px;
}

sobrenos{
    align-items: center;
}